@import 'tailwindcss';

.container {
  @apply mx-auto max-w-screen px-16;
}

.text-primary {
  @apply text-blue-700;
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
