<div class="flex mt-32 gap-6 mx-auto max-w-screen-2xl ">
    <div class="w-3/4">
        <mat-stepper #stepper class="bg-white border rounded-lg border-gray-200 shadow-sm p-3">
            <mat-step label="Address">
                Address form
            </mat-step>
            <mat-step label="Shipping">
                Delivery form
            </mat-step>
            <mat-step label="Payment">
                Payment form
            </mat-step>
            <mat-step label="Confirmation">
                Review form
            </mat-step>
        </mat-stepper>
    </div>
    <div class="w-1/4">
        <app-order-summary></app-order-summary>
    </div>
</div>
